*{

	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	background:black;
}
.row{
	background-color: white;
	border-radius: 30px;
}
img{
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}
.btn1{

width: 100%;
padding: 20px;
background-color: white;
color: black;

}
.btn1:hover{

background-color: black;
color: white;
}